.env
.env.*
!.env.example

# Terraform local artifacts
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfplan

# Variable files that can contain secrets
*.tfvars
*.tfvars.json

# Local overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json